<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <p>{{content}}</p>
      <p>By: {{user.username}}</p>
      <p>Posted on: {{date_time}}</p>
    </div>
  </a>
  <button type="button" id='update'>Edit Post</button>
  <button type="button" id='delete'>Delete Post</button>
</section>