{{#if loggedIn}}
<section class="single-post">
  <div class="post-details">
    <h3>{{post.title}}</h3>
    <p>By: {{post.user.username}}</p>
    <p>Published on: {{post.date_time}}</p>
    <p>Blog Post: {{ post.content}}</p>
  </div>
  <div>
    {{#ifEquals post.user.id user_id}}
      <button type="button" class="button" id='update' value={{id}}>Edit Post</button>
      <button type="button" class="button" id='delete' value={{id}}>Delete Post</button>
    {{/ifEquals}}
  </div>
  <div>
    <H2>Comments:</H2>
    {{#each post.comments as |comment|}}
    {{>comment-details}}
    {{/each}}
  </div>
  <form class="comment-form">
      <label for="comment-input"></label>
      <input type="text" id="comment-input" />
      <button type="submit">Comment</button>
  </form>
</section>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}
{{!-- <script src="/js/update.js"></script> --}}
<script src="/js/comment.js"